* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
  }
  
  body {
    background-color: #fcfcf9;
    color: #000;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 240px;
    background-color: #c9d89c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  
  .profile-section {
    text-align: center;
    padding: 1rem;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    background-color: #8FB031;
    border-radius: 50%;
    margin: 0 auto 10px;
    background-image: url(''); 
    background-size: cover;
    background-position: center;
  }
  
  .name {
    font-size: 0.8rem;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
  }
  
  .nav-menu a {
    padding: 1rem;
    text-align: center;
    color: #000;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .nav-menu a.active,
  .nav-menu a:hover {
    background-color: #8FB031;
    color: #fff;
  }
  
  .logout {
    margin-top: auto;
    margin-bottom: 1rem;
  }
  
  .logout-btn {
    width: 60px;
    height: 60px;
    background-color: #8FB031;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: -2px;
  }
  
  .main-content {
    flex: 1;
    padding: 2rem;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
   
  }
  
  .card {
    flex-basis: 30%;
    background-color: #ddd;
    padding:10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    height: 500px;
    
  }
  
  .card_2 {
    flex-basis: 30%;
    background-color: #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    height: 250px;
    
    
  }

  .actions {
      flex: 1;
      padding: 2rem;
    }
    
  .actions_2 {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
     
    }
    
    .actions_3{
      flex-basis: 25%;
      border-radius: 8px;
      text-align: center;
      font-size: 1.5rem;
      
    }
  
  .btn {
    background-color: #8FB031;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #799f37;
  }

  img{
    width: 30px;
    margin-bottom: -4px;
  }

