* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
  }
  
  body {
    background-color: #fcfcf9;
    color: #000;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 240px;
    background-color: #c9d89c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  
  .profile-section {
    text-align: center;
    padding: 1rem;
  }
  
  .avatar {
    width: 60px;
    height: 60px;
    background-color: #8FB031;
    border-radius: 50%;
    margin: 0 auto 10px;
    background-image: url(''); 
    background-size: cover;
    background-position: center;
  }
  
  .name {
    font-size: 0.8rem;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
  }
  
  .nav-menu a {
    padding: 1rem;
    text-align: center;
    color: #000;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .nav-menu a.active,
  .nav-menu a:hover {
    background-color: #8FB031;
    color: #fff;
  }
  
  .logout {
    margin-top: auto;
    margin-bottom: 1rem;
  }
  
  .logout-btn {
    width: 60px;
    height: 60px;
    background-color: #8FB031;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: -2px;
  }
  
  .main-content {
    flex: 1;
    padding: 2rem;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
   
  }
  
  
  .left_side{
    flex-basis: 30%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .daily_tab {
    background-color: #ddd;
    padding:10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    height: 555px;
  }

  .header_content {
    margin-bottom: 20px;
  }
  
  .workout_content {
    padding: 20px;
    margin: 10px 10px;
    background-color: #bbb ;
    border-radius: 8px;
    text-align: justify;
    font-size: 20px;
  }
  
  .workout_content span {
    font-size: 15px;
    color: #4d4b4b;
  }

  .daily_tab h3 {
    margin-top: 50px;
    text-align: left;
    font-size:30px;
  }
  .middle{
    flex-basis: 30%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .progress_tab {
    background-color: #ddd;
    padding:10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    height: 555px;
  }

  .progress_contents {
    width: 100%; 
    max-width: 600px; 
    margin-top: 20px;
  }

  .right_side{
    flex-basis: 30%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .reminders {
    background-color: #ddd;
    padding:10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    height: 400px;
  }

  .reminders_contents {
    padding: 20px;
    margin: 10px 10px;
    background-color: #bbb ;
    border-radius: 8px;
    text-align: justify;
    font-size: 20px;
  }

  .actions {
      padding: 10px;
      align-items: right;
    }
    
  .actions_3{
    border-radius: 8px;
    text-align: right;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #8FB031;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #799f37;
  }

  img{
    width: 30px;
    margin-bottom: -4px;
  }

.btn edit {
     text-decoration: none;
}

.timer_tab {
    background-color: #c9d89c;
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    font-size: 50px;
    height: 200px;
}

.timer_tab h2{
  font-size: 20px;
  margin-bottom: 5px;
}
.timer_tab button {
  padding: 10px 15px;;
  color: white;
  background-color: #8FB031;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  margin-top: 30px;
}

.timer_tab button:hover {
  background-color: #799f37;
}