/* Reset and Base Styles */
* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

html {
	font-size: 16px; /* 1rem = 16px */
}

body {
	background: white;
	color: #fff;
}

/* HEADER */
#header {
	
	background: #FAF9F6;
	background-size: cover;
	background-position: center;
}

.container {
	padding: 0.625rem 10%;
  width: 100%;
  margin: 0 auto; 
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	width: 25%;
	max-width: 25rem;
}

.welcome_logo {
	width: 18.75%;
	max-width: 18.75rem;
	margin-left: 2.5%;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0.625rem 1.25rem;
}

nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 1.125rem;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 0.1875rem;
	background: #8FB031;
	position: absolute;
	left: 0;
	bottom: -0.375rem;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}

#header-text {
	padding: 5rem 0;
	color: black;
	background-color: #FAF9F6;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col_2 {
	flex-basis: 35%;
	margin-right: -15%;
	margin-top: -5.625rem;
}

.col_2 img {
	width: 110%;
	border-radius: 0.9375rem;
	transition: transform 0.5s ease-in-out;
}

.col_2 img:hover {
	transform: rotate(-10deg);
}

.col_2 img:active {
	transform: rotate(10deg);
}

.col_1 {
	flex-basis: 60%;
	margin-top: 0.9375rem;
	margin-left: -5.625%;
}

.col_1 h1 {
	font-size: 3.75rem;
	font-weight: bolder;
	margin-bottom: 1.25rem;
}

.col_1 p {
	font-size: 1.25rem;
	margin-bottom: 2.5rem;
}

button {
	background-color: #8FB031;
	color: white;
	padding: 0.625rem 1.25rem;
	border: none;
	cursor: pointer;
	font-size: 1.25rem;
	border-radius: 0.3125rem;
	transition: background 0.3s, transform 0.4s;
	box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

button:hover {
	transform: scale(1.03);
	box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.4);
}

#dumbbell {
	width: 28.125rem;
	margin-left: -10%;
	margin-top: -4.3rem;
	position: absolute;
	transition: transform 0.3s ease-in-out;
}

#dumbbell:hover {
	transform: translateY(-3.125rem);
}

#dumbbell:active {
	transform: translateY(3.125rem);
}

.button-up {
	position: fixed;
	width: 3.125rem;
	height: 3.125rem;
	background: #8FB031;
	bottom: 1.875rem;
	right: 3.125rem;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 3.125rem;
	font-size: 1.375rem;
	border-radius: 0.3125rem;
	z-index: 1;
}

/* ABOUT */
#about {
	padding: 5rem 0;
	color: black;
	background-color: rgba(143, 176, 49, 0.4);
}

#about h2 {
	font-size: 3.125rem;
	font-weight: bold;
	text-align: center;
	color: black;
}

.row_2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col_3 {
	flex-basis: 33%;
}

.col_3 img {
	width: 50%;
	border-radius: 0.9375rem;
	margin-top: 20rem;
	margin-left: 46%;
}

.col_4 {
	flex-basis: 33%;
	font-size: 1.25rem;
}

.col_4 .p1 {
	margin-top: 9.375rem;
	text-align: right;
	margin-left: 3.75%;
}

.col_4 .p2 {
	margin-top: 9.375rem;
	text-align: left;
	margin-right: 3.75%;
}

.col_5 {
	flex-basis: 33%;
}

.col_5 img {
	width: 50%;
	border-radius: 0.9375rem;
	margin-top: 0;
	margin-left: 4.375%;
}

#bowl_v2 {
	width: 31.25rem;
	right: -9.375%;
	margin-top: -15rem;
	position: absolute;
	transition: transform 1s ease-in-out;
}

#bowl_v2:hover {
	transform: rotate(-15deg);
}

#bowl_v2:active {
	transform: rotate(15deg);
}

/* FEATURES */
#features {
	padding: 5rem 0;
	color: black;
	background-color: #FAF9F6;
}

#features h2 {
	font-size: 3.125rem;
	font-weight: bold;
	text-align: center;
	color: black;
	margin: 3.125rem;
}

.row_3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 6.25rem;
	margin-bottom: 6.25rem;
}

.row_3 img {
	width: 9.375rem;
	border-radius: 0.9375rem;
}

.row_3 p,
.row_3 h3,
.row_4 p,
.row_4 h3 {
	margin-left: 3.75%;
	margin-right: 3.75%;
	
}

.col_6,
.col_7,
.col_8,
.col_9,
.col_10,
.col_11,
.col_12,
.col_13 {
	flex-basis: 25%;
	padding: 2rem;
}

.row_4 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}

.row_4 img {
	width: 9.375rem;
	border-radius: 0.9375rem;
}

.col_10 img {
	width: 6.25rem;
}

/* FOOTER */
footer {
	background-color: #FAF9F6;
	text-align: center;
	padding: 1.25rem;
	color: black;
}

#footer_things {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5.625rem;
}

.social-links a img {
	width: 1.875rem;
	margin: 0 0.625rem;
}

/* FAQs */
#FAQs {
	padding: 3.125rem 0;
	align-items: center;
	background-color: rgba(143, 176, 49, 0.4);
}

.faq-container {
	max-width: 43.75rem;
	margin: 0 auto;
	padding: 1.25rem;
	font-family: Arial, sans-serif;
	color: black;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.faq-container h2 {
	margin-bottom: 2.8125rem;
	font-size: 3.125rem;
}

.faq-item {
	border-bottom: 1px solid #8FB031;
	padding: 0.9375rem 0;
	margin-bottom: 0.625rem;
}

.faq-question {
	cursor: pointer;
	font-weight: bold;
	position: relative;
}

.faq-question::after {
	content: '+';
	position: absolute;
	right: 0;
}

.faq-question.active::after {
	content: '-';
}

.faq-answer {
	display: none;
	margin-top: 0.625rem;
	color: black;
}

.faq-answer.show {
	display: block;
}

/* Welcome Page */
#welcome_contents {
	color: black;
	padding: 1.875rem 3.75rem;
	font-size: 1.875rem;
	margin-bottom: 1.25rem;
	background-color: #FAF9F6;
}

#welcome_contents h1 {
	font-size: 3.75rem;
	font-weight: bolder;
	margin-bottom: 1.25rem;
}

#welcome_contents p {
	font-size: 1.25rem;
	margin-bottom: 2.5rem;
}

.header_welcome img{
	position: absolute;
	left: 70%;
	width: 50%; 
	height: 90%;
	top: 8%;
}
.proceed_options {
	color: black;
	display: flex;
	flex-wrap: wrap;
	background-color: #FAF9F6;
	flex-direction: row;
	text-align: center;
}

.proceed_options span {
	font-size: 1.125rem;
	margin-top: -0.625rem;
	opacity: 0.5;
}

.proceed_opt,
.training_opt {
	flex-basis: 40%;
	text-align: center;
	height: 20rem;
	padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.3), 0 -4px 0 0 #8FB031;
  height: auto;
  right:50%; 
}

.proceed_opt h4 {
	margin-top: 3rem;
	margin-bottom: 5rem;
}

.training_opt h4 {
	margin-top: 2.5rem;
	margin-bottom: 1.25rem;
}

.proc_btn {
	padding: 0.75rem 4.375rem;
	background-color: #8FB031;
	color: white;
	border: none;
	border-radius: 0.375rem;
	font-size: 1.25rem;
	cursor: pointer;
	transition: background-color 0.3s;
	text-decoration: none;
}

.button_proceed {
	margin-top: 20rem;
}

.training_img {
	margin-top: 2.5rem;
	margin-left: -1.875rem;
}

.training_img img {
	width: 10rem;
	transition: transform 1s ease-in-out;
}



.training_img img:active {
	transform: translateY(-3.125rem);
}


@media(min-width: 1920px) {

html {
	font-size: 18px;
}

body {
	background: white;
	color: #fff;
}

.container {
	padding: 0.625rem 5%;
  margin: 0 auto; 
}
    
    
    .logo {
        max-width: 30rem;
    }

    .welcome_logo {
        max-width: 22rem;
    }

    nav ul li {
        margin: 0.625rem 1.5rem;
    }

    nav ul li a {
        font-size: 1.25rem;
    }

    .col_2 {
        flex-basis: 40%;
        margin-right: -10%;
        margin-top: -6rem;
    }

    .col_1 {
        flex-basis: 60%;
        margin-top: 1.25rem;
        margin-left: 0rem;
    }

    .col_1 h1 {
        font-size: 4.5rem;
    }

    .col_1 p {
        font-size: 1.5rem;
    }

    button {
        padding: 0.75rem 1.5rem;
        font-size: 1.375rem;
    }

    #dumbbell {
        width: 35rem;
        margin-top: -5rem;
    }

    #about h2 {
        font-size: 3.5rem;
    }

    .col_3 img {
        margin-top: 25rem;
        margin-left: 50%;
    }

    .col_4 {
        font-size: 1.375rem;
    }

    #bowl_v2 {
        width: 38rem;
        margin-top: -18rem;
    }

    #features h2 {
        font-size: 3.5rem;
        margin: 4rem;
    }

    .col_6,
    .col_7,
    .col_8,
    .col_9,
    .col_10,
    .col_11,
    .col_12,
    .col_13 {
        flex-basis: 23%;
        padding: 2.5rem;
    }

    .row_3 img,
    .row_4 img {
        width: 11rem;
    }

    .col_10 img {
        width: 7.5rem;
    }

    footer {
        padding: 1.5rem;
    }

    #footer_things {
        gap: 7rem;
    }

    .social-links a img {
        width: 2rem;
        margin: 0 0.75rem;
    }

    #FAQs {
        padding: 4rem 0;
    }

    .faq-container {
        max-width: 50rem;
        padding: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .faq-container h2 {
        margin-bottom: 3.5rem;
        font-size: 3.5rem;
    }

    .faq-item {
        padding: 1.125rem 0;
        margin-bottom: 0.75rem;
    }

    .faq-answer {
        margin-top: 0.75rem;
    }

    #welcome_contents {
        padding: 2.5rem 5rem;
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
    }

    #welcome_contents h1 {
        font-size: 4.5rem;
        margin-bottom: 1.5rem;
    }

    #welcome_contents p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .proceed_options span {
        font-size: 1.25rem;
    }

    .proceed_opt,
    .training_opt {
        flex-basis: 45%;
        height: 22rem;
		margin-left: 0rem;
		margin-top: 3rem;
    }

    .proceed_opt h4 {
        margin-top: 3.5rem;
        margin-bottom: 6rem;
    }

    .training_opt h4 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    .proc_btn {
        padding: 0.875rem 5rem;
        font-size: 1.375rem;
    }

    .button_proceed {
        margin-top: 22rem;
    }

    .training_img {
        margin-top: 3rem;
        margin-left: -2rem;
    }

	.button-up {
	bottom: 12%;
	right: 12%;
}

.header_welcome img{
	position: absolute;
	left: 70%;
	width: 50%; 
	height: 90%;
	top: 8%;
}

}