*{
	margin: 0;
	padding: 0;
	font-family: 'Inter';
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body {
	background: white;
	color: #fff;
}

#header {
	
	width:100%;
	height:80vh;
	background:#FAF9F6;
	background-size: cover;
	background-position: center;

}

.container {
	padding: 10px 10%;
}

nav { 
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    
}

.logo {
	width: 400px;
}

.welcome_logo {
	width: 300px;
	margin-left: 40px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;

}

nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 3px;
	background: #8FB031;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}
	
#header-text {
	padding: 80px 0px;
	color: black;
    background-color: #FAF9F6;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col_2 {
	
	flex-basis: 35%;
    margin-right: -150px;
    margin-top: -100px;
}

.col_2 img {

	width: 110%;
	border-radius: 15px;
	transition: transform 0.5s ease-in-out; 
   
}

.col_2 img:hover {
	transform: rotate(-10deg);
}

.col_2 img:active {
	transform: rotate(10deg);
}

.col_1 {
	flex-basis: 60%;
	margin-top: 15px;
    margin-left: -90px;
}

.col_1 h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.col_1 p {
    font-size: 20px;
    margin-bottom: 40px;
}

button {
    background-color: #8FB031; 
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
	
}

#dumbbell{
    width: 450px;
    margin-left: -160px;
    margin-top: -70px;
    position: absolute;
	transition: transform 0.3s ease-in-out;
}

#dumbbell:hover {
	transform: translateY(-30px);
}

#dumbbell:active {
	transform: translateY(30px);
}

.button-up {
	position: fixed;
	width: 50px;
	height: 50px;
	background: #8FB031;
	bottom: 30px;
	right: 50px;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	border-radius: 5px;
	z-index: 1;
}

/*------------------------------------- ABOUT -------------------------------*/

#about {
	padding: 80px 0px;
	color: black;
    background-color: rgba(143, 176, 49, 0.4);
}
#about h2 {
    font-size:50px;
    font-weight: bold;
    text-align:center;
    color:black;
}
.row_2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col_3 {
	
	flex-basis: 33%;
}

.col_3 img {
	width: 50%;
	border-radius: 15px;
    margin-top: 320px;
    margin-left: 190px;
}

.col_4 {

	flex-basis: 33%;
    font-size: 20px;
	
}

.col_4 .p1 {
	
	margin-top: 150px;
    text-align: right;
    margin-left: 60px;
}
.col_4 .p2 {
	
	margin-top: 150px;
    text-align: left;
    margin-right: 60px;
}

.col_5 {
	
	flex-basis: 33%;
}

.col_5 img {
	width: 50%;
	border-radius: 15px;
    margin-top: 0px;
    margin-left: 70px;

}

#bowl_v2{
    width: 500px;
    right: -150px;
    margin-top: -190px;
    position: absolute;
	transition: transform 1s ease-in-out; 
}


#bowl_v2:hover {
	transform: rotate(-15deg);
}

#bowl_v2:active {
	transform: rotate(15deg);
}

/*------------------------------------FEATURES-------------------------------*/

#features {
	padding: 80px 0px;
	color: black;
    background-color: #FAF9F6;
}
#features h2 {
    font-size:50px;
    font-weight: bold;
    text-align:center;
    color:black;
    margin: 50px;
}
.row_3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.row_3 img {
    width: 150px;
    border-radius: 15px;
    margin-top: 0px;
    margin-left: 0px;
}

.row_3 p {
    margin-left:60px;
    margin-right: 60px;
}
.row_3 h3 {
    margin-left:60px;
    margin-right: 60px;
}


.col_6 {
	
	flex-basis: 25%;

}

.col_7 {
	
	flex-basis: 25%;
}

.col_8 {
	
	flex-basis: 25%;
}

.col_9 {
	
	flex-basis: 25%;
}


.row_4 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
    text-align: center;
}

.row_4 img {
    width: 150px;
	border-radius: 15px;
    margin-top: 0px;
    margin-left: 0px;
}
.row_4 p {
    margin-left:60px;
    margin-right: 60px;
}
.row_4 h3 {
    margin-left:60px;
    margin-right: 60px;
}
.col_10 {
	
	flex-basis: 25%;

}
.col_10 img{
	 width: 100px;
    
}


.col_11 {
	
	flex-basis: 25%;
}

.col_12 {
	
	flex-basis: 25%;
}


.col_13 {
	
	flex-basis: 25%;
}

/*--------------------------------------FOOTER----------------------------*/

footer {
    background-color: #FAF9F6;
    text-align: center;
    padding: 20px;
    color: black;
}

#footer_things {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-wrap: wrap;
    gap: 90px;              
}

.social-links a img {
    width: 30px;
    margin: 0 10px;
}


/*------------------------------------- FAQs -------------------------------*/


#FAQs {
	padding: 50px 0px;
	align-items: center;
	background-color: rgba(143, 176, 49, 0.4);
}
.faq-container {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	font-family: Arial, sans-serif;
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.faq-container h2 {
	margin-bottom: 45px;
	font-size: 50px;
}
.faq-item {
	border-bottom: 1px solid #8FB031;
	padding: 15px 0;
	margin-bottom: 10px;
}

.faq-question {
	cursor: pointer;
	font-weight: bold;
	position: relative;
}

.faq-question::after {
	content: '+';
	position: absolute;
	right: 0;
}

.faq-question.active::after {
	content: '-';
}

.faq-answer {
	display: none;
	margin-top: 10px;
	color: black;
}

.faq-answer.show {
	display: block;
}

/*------------------------------------- Welcome Page -------------------------------*/

#welcome_contents{
	color: black;
	padding: 30px 60px;
	font-size: 30px;
    margin-bottom: 20px;
	background-color: #FAF9F6;
}

#welcome_contents h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 20px;
}
#welcome_contents p {
    font-size: 20px;
    margin-bottom: 40px;
}

.proceed_options{
	color: black;
	display: flex;
	flex-wrap: wrap;
	background-color: #FAF9F6;
}

.proceed_options  span {
	font-size: 18px;
	margin-top: -10px;
	opacity: 50%;
}

.proceed_opt {
	flex-basis: 40%;
	background-color: #c9d89c;
	border-radius: 20px;
	text-align: center;
	height: 300px;
	margin-right: 100px;
	margin-left: 80px;
}

.proceed_opt h4 {
	margin-top: 80px;
	margin-bottom: 20px;
}

.training_opt {
	flex-basis: 40%;
	background-color: #c9d89c;
	border-radius: 20px;
	text-align: center;
	height: 300px;
	
}

.training_opt h4 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.proc_btn {
	padding: 12px 70px 12px 70px;
    background-color: #8FB031;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
	
}

.button_proceed {
	margin-top: 80px;
}

.training_img {
	margin-top: 40px;
	margin-left: -30px;
}

.training_img img {
	width: 450px;
    width: 450px;
	transition: transform 1s ease-in-out;
}

.training_img img:hover {
	transform: translateY(-10px);
}

.training_img img:active {
	transform: translateY(-50px);
}