body {
    font-family: 'Inter', sans-serif;
    background-color: #f9f8f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h2 {
    font-weight: normal;
    font-size: 1.5rem;
    color: #1a1a1a;
  }
  
  .icon {
    width: 70px;
    margin: 10px 0;
  }
  
  .form-box {
    background-color: rgba(143, 176, 49, 0.4);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    font-size: 1rem;
    color: #3c3c3c;
    margin-bottom: 20px;
  }
  
  .question span {
    font-size: 0.9rem;
    color: #4d4d4d;
  }
  
  .goal-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .goal-button {
    padding: 15px;
    font-size: 1rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s;
  }
  
  .goal-button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
  }
  
  .proceed-button {
    margin-top: 20px;
    padding: 12px 70px 12px 70px;
    background-color: #8FB031;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .proceed-button:hover {
    background: #7f9c2b;
  }

  .goal-button.active {
    background-color: #b5d67e;
    font-weight: bold;
    color: #2e2e2e;
    border: 2px solid #7ea543;
  }

  .day-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 250px;
    margin: 0 auto;
  }

  .day-button {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 0.95rem;
    background-color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #333;
  }

  .day-button:hover {
    background-color: #f0f0f0;
    transform: translateY(-2px);
  }

  .day-button.active {
    background-color: #b5d67e;
    font-weight: bold;
    color: #2e2e2e;
    border: 2px solid #7ea543;
  }

  input {
    flex: 2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }